.app {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'SF Pro Display', -apple-system, 'BlinkMacSystemFont', 'SF Pro Text';

  background: var(--background);

  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  --background: hsl(235, 28%, 5%);
  background: var(--background);
}
