.container{
  display: flex;
  --height: 11.25vw;
  width: 90vw;
  height: var(--height);
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0.5rem 0;
  border-radius: 1.25rem;
  align-items: center;
  transition: opacity 0.2s cubic-bezier(0.335, 0.880, 0.450, 0.940);
}

.disabled {
  opacity: 0.5;
}

.handle{
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75%;
  height: 50%;
  min-width: 16px;
  min-height: 16px;
  background: var(--background);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 0.5rem 0;
  transition: height 0.2s cubic-bezier(0.335, 0.880, 0.450, 0.940);
  position: relative;
  transform: translateX(-50%);

  &:active, .active & {
    height: 70%;
  }

  .disabled & {
    height: 0px;
    width: 0px;
    transition: height 0.2s cubic-bezier(0.335, 0.880, 0.450, 0.940), left 0.2s cubic-bezier(0.335, 0.880, 0.450, 0.940);
  }

  &:after {
    content: "";
    display: block;
    height: 75%;
    width: 2px;
    background: var(--handle-colour);
    border-radius: 2px;
    transition: width 0.25s cubic-bezier(0.335, 0.880, 0.450, 0.940), height 0.25s cubic-bezier(0.335, 0.880, 0.450, 0.940);

    .active & {
      width: 4px;
      height: 85%;
    }

    .disabled & {
      opacity: 0;
    }
  }
}
