.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay:after {
  display: block;
  border-radius: 50%;
  width: 65vw;
  height: 65vw;
  border: 2px solid rgba(255,255,255,0.5);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: pulseScanning 2s infinite;
}

.instructions {
  z-index: 1;
  position: relative;
  margin-top: 10rem;
  font-size: 2.75rem;
  font-family: 'SF Pro Text', -apple-system, 'BlinkMacSystemFont';
  text-align: center;
  color: #fff;
}

.video {
  width: 100%;
  height: 100%;
  background: #000;
  object-fit: cover;
}

@keyframes pulseScanning {
  0% {
      width: 65vw;
      height: 65vw;
      box-shadow: 0 0 0 0 rgba(255, 200, 0, 0.2), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
  25% {
      box-shadow: 0 0 0 15px rgba(255, 200, 0, 0.3), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
  50% {
      width: 65vw;
      height: 65vw;
      box-shadow: 0 0 0 15px rgba(255, 200, 0, 0), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
  75% {
      width: 75vw;
      height: 75vw;
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255, 200, 0, 0), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
}

@keyframes pulseFail {
  0% {
      width: 65vw;
      height: 65vw;
      box-shadow: 0 0 0 0 rgba(255, 10, 0, 0.2), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
  25% {
      box-shadow: 0 0 0 15px rgba(255, 10, 0, 0.3), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
  50% {
      width: 65vw;
      height: 65vw;
      box-shadow: 0 0 0 15px rgba(255, 10, 0, 0), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
  75% {
      width: 75vw;
      height: 75vw;
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255, 10, 0, 0), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
}

@keyframes pulseSuccess {
  0% {
      width: 65vw;
      height: 65vw;
      box-shadow: 0 0 0 0 rgba(0, 255, 10, 0.2), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
  25% {
      box-shadow: 0 0 0 15px rgba(0, 255, 10, 0.3), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
  50% {
      width: 65vw;
      height: 65vw;
      box-shadow: 0 0 0 15px rgba(0, 255, 10, 0), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
  75% {
      width: 75vw;
      height: 75vw;
  }
  100% {
      box-shadow: 0 0 0 0 rgba(0, 255, 10, 0), rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  }
}
