.prompt {
  composes: prompt from "../SetupSlide/style";
}

.explination {
  composes: explination from "../SetupSlide/style";
  background: rgb(255, 149, 0);
}

.title {
  composes: title from "../SetupSlide/style";
  color: #fff;
}

.description {
  composes: description from "../SetupSlide/style";
  color: #fff;
}

.icon {
  composes: icon from "../SetupSlide/style";
}

.step {
  composes: step from "../SetupSlide/style";
}

.instruction {
  composes: instruction from "../SetupSlide/style";
  color: #232323;
}

.bold {
  composes: bold from "../SetupSlide/style";
}

.code {
  background: #ececec;
  padding: 0.5rem;
  border-radius: 8px;
  user-select: all;
  white-space: nowrap;
}

.cameraIcon {
  width: 150px;
}

.qrIcon {
  width: 150px;
}

.settingsIcon {
  width: 150px;
}

.noBreak {
  white-space: nowrap;
}
